@model IEnumerable<MasterInvoice.Models.invoice.Invoices>

@{
    ViewData["Title"] = "Notal Fiscal";
}
<style>
    .card {
        background-color: #fff;
        border-radius: 10px;
        border: none;
        position: relative;
        margin-bottom: 30px;
        box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
    }

</style>


<div class="accordion-body">
    <p class="d-flex align-items-end flex-column">
        <a  class="btn btn-primary" title="Adicionar Nota"><i class="bi bi-plus"></i>Adicionar Nota</a>
    </p>
   <form asp-action="Index" method="get">
    <div class="row my-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="filtroMesEmissao" class="form-label">Mês de Emissão</label>
                            <input type="month" id="filtroMesEmissao" name="filtroMesEmissao" class="form-control" value="@ViewBag.FiltroMesEmissao?.ToString("yyyy-MM")">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="filtroMesCobranca" class="form-label">Mês de Cobrança</label>
                            <input type="month" id="filtroMesCobranca" name="filtroMesCobranca" class="form-control" value="@ViewBag.FiltroMesCobranca?.ToString("yyyy-MM")">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="filtroMesPagamento" class="form-label">Mês de Pagamento</label>
                            <input type="month" id="filtroMesPagamento" name="filtroMesPagamento" class="form-control" value="@ViewBag.FiltroMesPagamento?.ToString("yyyy-MM")">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="filtroStatusNota" class="form-label">Filtrar por Status</label>
                        <select id="filtroStatusNota" name="filtroStatusNota" class="form-select">
                            <option value="">Todos</option>
                            <option value="1">Emitida</option>
                            <option value="2">Cobrança Realizada</option>
                            <option value="3">Pagamento em Atraso</option>
                            <option value="4">Pagamento Realizado</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-outline-secondary" id="limparFiltros">Limpar Filtros</button>
                    <button type="submit" class="btn btn-outline-primary">Filtrar</button>
                </div>
            </div>
        </div>
    </div>
</form>


    <div class="card">
        <div class="card-body p-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.PayerName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IdentificationNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IssueDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BillingDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.InvoiceDoc)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BillDoc)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StatusId)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PayerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdentificationNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IssueDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BillingDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InvoiceDoc)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.BillDoc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StatusId)
                        </td>
                        <td>
                                <a  class="btn btn-link" title="Editar">
                                    <i class="bi bi-pen-fill"></i>
                            </a> |
                                <a  class="btn btn-link" title="Visualizar">
                                    <i class="bi bi-eye-fill"></i>
                            </a> |
                                <a  class="btn btn-link" title="Deletar">
                                    <i class="bi bi-trash3-fill"></i>
                            </a>
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        document.getElementById('li-invoice').classList.add('active');
        var filtroStatusNota = "@ViewBag.FiltroStatusNota"; 
        $("#filtroStatusNota").val(filtroStatusNota);
            $("#limparFiltros").click(function () {
                $("#filtroMesEmissao").val('');
                $("#filtroMesCobranca").val('');
                $("#filtroMesPagamento").val('');
                $("#filtroStatusNota").val('');
                $("form").submit();
            });
    });
</script>

